h1 {
    font-size: 25px;
    margin: 10px 0;
}

.form-inline {
    margin: 2px 0;
}

label {
    margin: 0;
}

.table-phone-book th:first-child, .table-phone-book td:first-child {
    text-align: center;
    width: 9%;
}

.table-phone-book th:nth-child(2), .table-phone-book td:nth-child(2) {
    width: 3%;
    text-align: center;
}

.table-phone-book th:nth-child(3), .table-phone-book td:nth-child(3) {
    padding-left: 10px;
    width: 27%;
}

.table-phone-book th:nth-child(4), .table-phone-book td:nth-child(4) {
    padding-left: 10px;
    width: 27%;
}

.table-phone-book th:nth-child(5), .table-phone-book td:nth-child(5) {
    padding-left: 10px;
    width: 27%;
}

.table-phone-book th:last-child, .table-phone-book td:last-child {
    text-align: center;
    width: 7%;
}

.table-phone-book td:last-child button {
    width: 40px;
    vertical-align: middle;
    border-radius: 0;
}

.main form {
    margin-left: 10px;
}

.submit {
    margin: 2px 2px 2px 0;
    cursor: pointer;
}

.input-phone-book {
    margin: 2px;
    width: 250px;
}

.col-sm {
    height: 25px;
}