body, html {
    height: 100%;
}

body {
    background: linear-gradient(to bottom, #FFFFFF, #DEDEE0) fixed;
}

.main {
    width: 980px;
    margin-right: auto;
    margin-left: auto;
}

.header {
    width: 100%;
    background-color: #FED61C;
    height: 65px;
}

.top {
    background-color: #FED61C;
    height: 100%;
    width: 980px;
    margin-left: auto;
    margin-right: auto;
}

.top ul {
    padding: 17px 0;
    margin: 0;
    list-style: none;
    vertical-align: middle;
}

.top li {
    display: inline-block;
    width: 139px;
    height: 22px;
    margin: 0 -4px 0 0;
    padding: 4px 0;
    text-align: center;
    border-right: 1px solid #926E00;
}

.top li:last-child {
    border: none;
}

.top a {
    color: #926E00;
    display: block;
    text-decoration: none;
    font-size: 21px;
    font-family: Cambria, fantasy;
}

.lower-case {
    font-size: 15px;
}

.current a > span {
    color: #B63300;
    border-bottom: 2px solid;
}

.top a:hover > span {
    border-bottom: 2px solid;
}

.main-form {
    font-family: "Trebuchet MS", serif;
}

.main-table {
    width: 966px;
    margin: 0 7px;
    border-collapse: collapse;
    color: #767877;
}

.main-table th {
    height: 35px;
    font-size: 13px;
    font-weight: bold;
    border-bottom: 2px solid #E2E2E2;
    vertical-align: middle;
    color: #767877;
}

.main-table tbody {
    overflow-y: auto;
    max-height: 252px;
}

.main-table thead > tr, .main-table tbody, .table-previous-application thead > tr, .table-previous-application tbody {
    display: block;
}

.th-comment {
    text-align: left;
    padding-left: 8px;
    width: 243px;
}

.th-address {
    text-align: left;
    padding-left: 0;
}

.main-table thead .th-how-many {
    text-align: left;
    padding-left: 15px;
    width: 215px;
}

.main-table td {
    height: 42px;
    text-align: center;
    vertical-align: middle;
}

.main-table td:nth-child(1), .main-table th:nth-child(1) {
    width: 90px;
}

.main-table td:nth-child(2), .main-table th:nth-child(2) {
    width: 40px;
    padding: 0;
}

.main-table td:nth-child(3), .main-table th:nth-child(3) {
    padding-left: 10px;
    max-width: 240px;
    min-width: 240px;
}

.main-table td:nth-child(4), .main-table th:nth-child(4) {
    width: 70px;
    padding: 0;
}

.main-table td:nth-child(5) {
    width: 230px;
}

.main-table td:nth-child(6), .main-table th:nth-child(6) {
    width: 35px;
}

.main-table td:nth-child(7) {
    width: 230px;
}

.main-table td:nth-child(1) {
    font-size: 14px;
    font-weight: bold;
}

.main-table td:nth-child(2) {
    font-size: 15px;
    font-weight: bold;
}

.main-table td:nth-child(3) {
    font-size: 12px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.main-table td:nth-child(4) {
    font-weight: bold;
    font-size: 18px;
}

.main-table td:nth-child(6) input {
    width: 25px;
    height: 14px;
    padding-left: 5px;
}

.main-table td:nth-child(7) input {
    width: 190px;
    height: 16px;
    padding: 0 10px;
}

.button-panel {
    padding-top: 30px;
}

.button-panel button {
    cursor: pointer;
    height: 45px;
    width: 188px;
    color: #F2FADD;
    font-size: 17px;
    font-family: "Trebuchet MS", serif;
    background: linear-gradient(to bottom, #92BC3F, #7EA53B);
}

.button-archive {
    float: left;
    margin-left: 25px;
}

.button-cancel {
    margin-right: 13px;
    float: right;
}

.button-panel [type="submit"] {
    cursor: pointer;
    display: inline-block;
    height: 45px;
    width: 188px;
    color: #8C8C8C;
    font-size: 17px;
    font-family: Consolas, serif;
    background: linear-gradient(to bottom, #FFFFFF, #DEDEE0);
    float: right;
    margin-right: 25px;
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

.table-status {
    margin-bottom: 5px;
    margin-top: 35px;
    height: 50px;
    color: #727272;
    font-family: "Trebuchet MS", serif;
}

.table-header {
    margin-left: 25px;
    line-height: 50px;
    vertical-align: middle;
    font-size: 20px;
    font-weight: bold;
}

.refresh-date {
    line-height: 50px;
    vertical-align: middle;
    float: right;
    margin-right: 20px;
    font-size: 13px;
}

.refresh {
    cursor: pointer;
    margin-right: 35px;
    float: right;
    width: 48px;
    height: 100%;
    border: none;
    background: url("refresh.jpg") no-repeat;
}

.table-previous-application {
    height: 175px;
    width: 100%;
    font-family: "Trebuchet MS", serif;
    font-size: 13px;
    font-weight: bold;
    border-radius: 5px;
    display: block;
    box-shadow: 0 -7px 20px -10px #646464;
}

.table-previous-application th {
    height: 33px;
    vertical-align: middle;
    color: #795B00;
    border-right: 1px dotted #795B00;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    text-align: left;
    padding-left: 10px;
}

.table-previous-application thead {
    display: block;
    background-color: #FED61C;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.table-previous-application th:last-child {
    border-right: none;
}

.table-previous-application td {
    vertical-align: middle;
    border: 1px dotted #646464;
    color: #646464;
    padding-left: 10px;
    height: 33px;
}

.table-previous-application .tbody-inner {
    padding: 0 20px;
}

.table-previous-application th:first-child {
    padding-left: 30px;
    width: 135px;
    border-left: none;
}

.table-previous-application .td-inner {
    border: none;
    padding: 0;
}

.table-previous-application .tbody-outer {
    max-height: 132px;
    overflow-y: auto;
}

.table-previous-application .tbody-inner {
    width: 923px;
}

.tbody-inner td:first-child {
    width: 135px;
    border-left: none;
}

.table-previous-application td:nth-child(2), .table-previous-application th:nth-child(2) {
    width: 130px;
}

.table-previous-application td:nth-child(3), .table-previous-application th:nth-child(3) {
    width: 130px;
}

.table-previous-application td:nth-child(4), .table-previous-application th:nth-child(4) {
    width: 165px;
}

.table-previous-application td:last-child {
    position: relative;
    width: 315px;
    border-right: none;
}

.table-previous-application th:last-child {
    width: 350px;
    border-right: none;
}

.table-previous-application tr:last-child td {
    border-bottom: none;
}

.table-previous-application .tr-under-consideration {
    background-color: #B2D2F8;
}

.table-previous-application .tr-under-consideration td {
    border-color: #DEDEE0;
}

.trashcan {
    position: absolute;
    cursor: pointer;
    border: none;
    top: 4px;
    right: 10px;
    width: 25px;
    height: 25px;
    background-image: url("trashcan.jpg");
}
